<!-- <ion-toolbar color="primary">
    <nav class="navbar navbar-expand navbar-primary navbar-dark">
        <ion-title>{{_maptitle}}</ion-title>
    </nav>
</ion-toolbar> -->
<!-- <div id="map" class="map" ></div>
<ion-toolbar color="primary">
    <nav class="navbar navbar-expand navbar-primary navbar-dark">
        <ion-title>{{_maptitle}}</ion-title>
    </nav>
</ion-toolbar> -->
<!-- <div id="covidcasemap" class="map" ></div>
<ion-img [src]="imagesource" style="width:100px;" *ngIf="imagesource"></ion-img>
<br> -->
