<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Enter Validation Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Validation code will expire in 30 minutes.

      <form #validationForm="ngForm" novalidate>
        <ion-item>
          <ion-input class="text-uppercase"
            [(ngModel)]="validation.otp"
            name="otp"
            type="text"
            #otp="ngModel"
            spellcheck="false"
            autocapitalize="on"
            placeholder="OTP"
            required
          >
          </ion-input>
          <ion-text color="danger">
            <p
              [hidden]="otp.valid || submitted == false"
              class="ion-padding-start"
            >
              OTP is required
            </p>
          </ion-text>
        </ion-item>
        <ion-button
          (click)="onValidate(validationForm)"
          type="submit"
          color="success"
          expand="block"
          >Validate OTP</ion-button
        >
      </form>
      <!-- <ion-button
        (click)="resendOTP()"
        color="success"
        expand="block"
        >ResendOTP</ion-button
      > -->
      <ion-button routerLink="/login" color="success" expand="block"
        >Back to Login</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
